aiohttp-jinja2==1.6.0
aiohttp-session==2.7.0
aiohttp==3.13.2
aiopg==0.15.0
aioredis==1.2.0
async-timeout==3.0.1      # via aioredis
attrs==25.4.0             # via aiohttp
hiredis==0.3.1            # via aioredis
idna==3.11                 # via yarl
jinja2==3.1.6              # via aiohttp-jinja2
markupsafe==3.0.3         # via jinja2
multidict==6.7.0          # via aiohttp, yarl
psycopg2==2.7.6.1         # via aiopg
pyyaml==6.0.3
trafaret-config==2.0.2
trafaret==1.2.0
yarl==1.22.0               # via aiohttp
aiohappyeyeballs==2.6.1
aiosignal==1.4.0
frozenlist==1.8.0
propcache==0.4.1
typing-extensions==4.15.0
